
@{
 
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
@Html.Raw(ViewBag.Register)
<div id="Header">
    <div id="ContentHeader">
        <h2>Dịch vụ thay lõi máy lọc nước tại nhà uy tín nhất Hà Nội</h2>
        <div class="Notes">
            <div class="content_Notes">
                <span>CHÍNH HÃNG - NHANH CHÓNG - GIÁ RẺ CHO MỌI NHÀ !</span>
            </div>

        </div>
        <span class="sukhacbiet">Sự khác biệt của chúng tôi so với đơn vị khác trên thị trường !</span>

        <div class="Listkhacbiet">
            <div class="Tear_kb">
               
                <div class="top" style="background: url(/Content/Display/iCon/icon-chinh-hang.png) no-repeat center center scroll transparent"></div>
                <span class="t1">Chỉ cung cấp</span>
                <div class="Box" style=" width:160px">
                    <span>Hàng chính hãng</span>
                </div>
                <span class="t2">
                    Cam kết chính hãng, đền bù 100%
                    sản phẩm nếu phát hiện hàng không
                    chính hãng !
                </span>
            </div>
            <div class="Tear_kb">
                <div class="top" style="background: url(/Content/Display/iCon/icon-bao-hanh.png) no-repeat center center scroll transparent"></div>
                <span class="t1">Đơn vị duy nhất</span>
                <div class="Box" style="width:210px">
                    <span>BẢO HÀNH LINH KIỆN THAY</span>
                </div>
                <span class="t2">
                    Đơn vị duy nhất trên thị trường bảo hành
                    linh kiện máy lọc nước khi thay thế. Thời
                    gian bảo hành = tuổi thọ của linh kiện.
                </span>
            </div>
            <div class="Tear_kb">
                <div class="top" style="background: url(/Content/Display/iCon/icon-gia-re.png) no-repeat center center scroll transparent"></div>
                <span class="t1">Giá linh kiện</span>
                <div class="Box" style="width:160px">
                    <span>Luôn luôn rẻ nhất</span>
                </div>
                <span class="t2">
                    Giá luôn luôn cam kết trên thị trường,
                    Nếu đơn vị nào bán hàng chính hãng giá
                    rẻ hơn chúng tôi bán rẻ bằng.
                </span>
            </div>
        </div>
    </div>
</div>
<div class="Clear"></div>
<div id="Info" >

    <div id="Info_Content">
        <h2>DỊCH VỤ THAY LÕI LỌC NƯỚC TẠI NHÀ</h2>
        @Html.Raw(ViewBag.Hotline)
        <div class="Times">
            <span class="time1">THỜI GIAN LÀM VIỆC : <span>7H - 22H</span></span>
            <span class="Date1">Làm việc cả ngày thứ 7, Chủ nhật</span>
        </div>
    </div>
    <div class="Clear"></div>
</div>
 <h1 class="h11">@ViewBag.h1</h1>

@{Html.RenderAction("PartialManufactures", "ManufacturesDisplay");}
<div class="Tear_One">
    <div class="Why">
        <h2>Tại sao phải thay lõi lọc nước ?</h2>
        <div class="Left">
            <div class="Tear_1s">
                <div class="Left_Tear1"></div>
                <div class="Right_Tear1">
                    <span class="name1">Nước tinh khiết</span>
                    <span class="name2">
                        Chỉ có thay lõi định kỳ mới mang lại
                        nguồn nước tinh khiết cho bạn và gia đình
                    </span>
                </div>
            </div>
            <div class="Tear_1s">
                <div class="Left_Tear2"></div>
                <div class="Right_Tear1">
                    <span class="name1">Kéo dài tuổi thọ</span>
                    <span class="name2">
                        Chiếc máy lọc nước nhà bạn sẽ hoạt động
                        trơn chu hơn và kéo dài tuổi thọ của máy.
                    </span>
                </div>
            </div>
            <div class="Tear_1s">
                <div class="Left_Tear3"></div>
                <div class="Right_Tear1">
                    <span class="name1">Bảo vệ sức khỏe</span>
                    <span class="name2">
                        Nước tinh khiết và giàu khoáng chất sẽ giúp
                        cho bạn có một sức khỏe tốt nhất.
                    </span>
                </div>
            </div>
        </div>
        <div class="Right">
            <img src="~/Content/Display/iCon/loilocnuoc.png" alt="Loi loc nuoc" title="Lõi lọc nước" />
        </div>
        <div class="Clear"></div>
        <div class="Note">
            <div class="Content_Note">
                <div class="Left_Content_Note"></div>
                <div class="Right_Content_Note">
                    Thay lõi lọc nước thường xuyên và định kỳ là việc làm bắt buộc của mỗi gia đình khi sử dụng máy lọc nước. Nếu
                    Bạn không thay lõi lọc nước định kỳ thì việc sử dụng nước từ máy lọc nước là cực kỳ nguy hiểm bởi nước không
                    những không được xử lý mà còn tăng thêm nhiều hóa chất nguy hiểm do lõi lọc nước không loại bỏ được và những
                    chất còn sót lại trong lõi lọc nước
                </div>
                <div class="Clear"></div>
            </div>
        </div>
        <a href="" class="xemthem"><span>Xem thêm >>></span></a>
    </div>
</div>
<div id="when" >
    <div id="Left_when">
        <a href="http://loiloc.com" title="Lõi lọc nước"><img src="~/Content/Display/iCon/thoigianthayloi.png" alt="Thời gian thay lõi" title="Thời gian thay lõi lọc nước" /></a> 
    </div>
    <div id="Right_when"  >
        <h3>Thời gian thay lõi lọc nước</h3>
        <p class="Des">
            Thời gian thay lõi định kỳ phụ thuộc vào nhiều yếu tố khác nhau.Ngoài thời gian mà nhà sản
            xuất khuyến nghị thì thời gian thay lõi lọc nước sẽ phụ thuộc vào nguồn nước mà khách hàng
            đang sử dụng
        </p>
        <div id="Content_When">
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">PP5 MICRO</span>
                </div>
                <div class="Center"><span>1</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>3</span> - <span>6</span></p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">THAN HOẠT TÍNH</span>
                </div>
                <div class="Center"><span>2</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>6</span> - <span>9</span></p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">PP1 MICRO</span>
                </div>
                <div class="Center"><span>3</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>9</span> - <span>12</span></p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">RO FILMTEC</span>
                </div>
                <div class="Center"><span>4</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>24</span> - <span>36</span></p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">NANO SILVER</span>
                </div>
                <div class="Center"><span>5</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>16</span> - <span>18</span></p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">Bóng gốm</span>
                </div>
                <div class="Center"><span>6</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>18</span> </p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">Alkaline</span>
                </div>
                <div class="Center"><span>7</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>24</span> </p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">MAIFAN</span>
                </div>
                <div class="Center"><span>8</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>12</span> </p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">ORP</span>
                </div>
                <div class="Center"><span>9</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>12</span> </p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
            <div class="Tear_when">
                <div class="Left">
                    <span class="when1">Lõi lọc nước số</span>
                    <span class="when2">ASEN</span>
                </div>
                <div class="Center"><span>10</span></div>
                <div class="Right">
                    <div class="Top_Right">
                        <p><span>12</span> </p>
                    </div>
                    <div class="Buttom_Right">
                        <span>THÁNG</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="Note">
    <div id="Content_Note">
        <div id="Top_Note">
            <div id="box_Note"><h3>Hãy thận trọng khi thay lõi lọc nước !</h3></div>
            <p>
                Nếu bạn không sử dụng dịch vụ của chúng tôi xin hãy chú ý những đặc điểm sau
                để tránh thay phải hàng giả, hàng nhái, bị làm giá ...
            </p>
        </div>
        <div id="Bottom_Note">
            <div id="Left_Bottom_Note">
                <div class="Tear_Note">
                    <div class="Number">1</div>
                    <div class="Name_Note"><span>Hàng giả</span></div>
                    <div class="Des_Note">
                        <p>
                            Hiện tại có tới trên 70% các sản phẩm   lõi lọc nước
                            trên thị trường là hàng giả (Đặc biệt là màng RO).
                            Vậy nên bạn phải kiểm tra kỹ hàng trước khi quyết định cho thợ thay.
                        </p>
                        <a href="/3/cach-nhan-biet-loi-loc-nuoc-kangaroo-chinh-hang" title="Cách nhận biết lõi lọc nước chính hãng">Cách kiểm tra lõi lọc nước chính hãng !</a>
                    </div>

                </div>
                <div class="Tear_Note">
                    <div class="Number">2</div>
                    <div class="Name_Note"><span>Bị tráo hàng</span></div>
                    <div class="Des_Note">
                        <p>
                            Nhiều khách hàng bị tráo hàng thật bằng hàng giả
                            khi thay lõi lọc nước. Đây là việc làm hết sức nguy hiểm
                            nên bạn cần kiểm tra lại máy khi xong việc rồi thanh toán.
                        </p>
                    </div>

                </div>
                <div class="Tear_Note">
                    <div class="Number">3</div>
                    <div class="Name_Note"><span>Bị làm giá</span></div>
                    <div class="Des_Note">
                        <p>
                            Nhiều khách hàng không thống nhất giá nên khi thay xong
                            bị làm giá với giá cao gấp nhiều lần. Vậy nên hãy thống
                            nhất giá trước khi quyết định chọn dịch vụ
                        </p>
                        <a href="" title="">Bảng báo giá lõi lọc nước chính hãng !</a>
                    </div>

                </div>
            </div>
            <div id="Right_Bottom_Note">
                <div id="Top_Right_Bottom_Note"></div>
            </div>
        </div>
        <span class="ghichu">
            Hãy thay lõi lọc nước tại VINCOM để đảm bảo chính hãng với giá
            tốt nhất !
        </span>
        <div class="Clear"></div>
    </div>
</div>
@{Html.RenderAction("Homes_Baogia","Baogia");}
@*@{Html.RenderAction("PartialProductHomes", "Product");}*@
@{Html.RenderAction("PartialRegister", "Register");}
<div id="Sales">
    <div id="Content_Sales">
        <span class="sl1">Chúng tôi giảm thêm <span>15%</span> vào đơn hàng</span>
        <span class="sl2">nếu bạn nói không hài lòng sau khi sử dụng dịch vụ của chúng tôi !</span>
    </div>
</div>
@{Html.RenderAction("ProductNewsHomes", "Default");}
<div class="compare ">
    <div class="content_compare">
        <span class="iconcamket"></span>
        <h3>Chúng tôi luôn cam kết !</h3>
        <span class="chinhang">Sản phẩm chính hãng 100%</span>
        <a href="http://thayloilocnuoc.com/3/cach-nhan-biet-loi-loc-nuoc-kangaroo-chinh-hang" title="Cách phân biệt lõi lọc nước Kangaroo chính hãng"></a>
    </div>
    <div class="Clear"></div>

</div>

