<div id="NewProduct" class="wow fadeInLeft animated">
    <div id="Content_NewProduct">
        <h4><span></span>Sản phẩm và tin tức mới</h4>
        <div id="Left_NewProduct">
            @Html.Raw(ViewBag.chuoisp)
        </div>
        <div id="Right_NewProduct">
            @Html.Raw(ViewBag.chuoinew)

            <div class="Clear"></div>
        </div>
        <div class="Clear"></div>
    </div>

</div>
