<div id="Baogias" class="  wow fadeInLeftBig animated">
    <div id="Content_Baogias">
        <h2>Bảng báo giá linh phụ kiện trong máy lọc nước!</h2>
        <span>Đây là giá để khách hàng có thể căn cứ kiểm tra hàng chính hãng trên thị trường. Chúng tôi cam kết giá rẻ nhất, nếu đơn vị nào giá rẻ hơn thì chúng tôi chắc chắn đó là hàng nhái. VINCOM là đơn vị uy tín nhất và lớn nhất Việt Nam hiện nay trong lĩnh vực cung cấp các sản phẩm lọc nước !</span>
        <div id="ListBaogia">
            @Html.Raw(ViewBag.chuoi)
        </div>
        <div class="Clear"></div>
    </div>
</div>
