@using PagedList.Mvc;
@model PagedList.IPagedList<Thayloilocnuoc.Models.tblProduct>
@{
     Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<div id="Contents">
    <div class="nVar_Product">
        <nav>@Html.Raw(ViewBag.nUrl)</nav>
    </div>
    
    @Html.Raw(ViewBag.chuoihienthi)
    @Html.PagedListPager(Model, page => Url.Action("ListProduct", new { page = page, sortOrder = ViewBag.CurrentSortOrder, sortName = ViewBag.CurrentSortName, sortLevel = ViewBag.CurrentSortLevel }), (PagedListRenderOptions)ViewBag.ship)




    <div class="Clear"></div>
</div>

