
@{
     Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}
<div id="Contents">
    <div class="nVar_Product">
        <nav>@Html.Raw(ViewBag.nUrl)</nav>
    </div>
    <div class="Clear"></div>
  @Html.Raw(ViewBag.chuoi)
    <div class="Clear"></div>
</div>



