<div class="Clear"></div>

<div class="Func">
    <div class="Content_Func">
        <div class="nVar">
            <div class="Name"><span>Chức năng của từng lõi lọc nước</span></div>
        </div>
        <div class="Clear"></div>
        <div class="Note">
            <span>Máy lọc nước Kangaroo là dòng sản phẩm máy lọc nước được ưa chuộng nhất hiện nay tại Việt Nam. Chính vì vậy lõi lọc nước Kangaroo là sản phẩm mà chúng tôi giới thiệu ở đây. Các lõi lọc nước khác khách hàng xem link bên dưới .</span>
        </div>
        <div class="List_Func">
            @Html.Raw(ViewBag.chuoi) 
        </div><div class="Clear"></div>
        <a href="/0/Loi-loc-nuoc" class="xemthem" title="Lõi lọc nước khác"><span>Xem thêm lõi lọc nước khác &gt;&gt;&gt;</span></a>
    </div>
</div>
